body {
    padding: 4em 0;
    background-image: url("http://arraytest.host/zoetis/assets/fondo.png");
    background-size: cover;
}

span {
    font-size: .8em;
}

.header {
    /* background-color: #FF5800; */
    /* padding: 2em 2em 3em; */
    background-image: url('http://arraytest.host/zoetis/assets/headerzoetis.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 14em;
    /* padding-top: -10px; */
    /* border: 2px red solid; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hah {
    border-radius: .3em;
}

.title-card {
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;

}

.title {
    color: #fff;
    /* font-size: 1.5em; */
    text-transform: uppercase;
    margin-top: 5em;
}

@media (max-width: 600px) {
    .title {
        font-size: 1.5em;
        margin-top: 0;
    }
}

.hr-1 {
    color: #FF5800;
    border: none;
    height: .6em;
    width: 100%;
    /* right: 30; */
    background-color: #FF5800;
}

.parrafo {
    color: #fff;
}

.body-card {
    padding: 1em;
}

.input-middle {
    /* width: 48%; */
    margin-right: .5em;
    margin-bottom: 1em;
    padding: 14px 10px;

}

.input-full {
    /* width: 99%; */
    margin-right: .5em;
    margin-bottom: .5em;
    padding: 14px 10px;
}

.input-three {
    /* width: 92%; */
    margin-bottom: .5em;
    margin-right: .5em;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    /* padding: 1px; */
    /* font-size: 18px; */

}

.copyright {
    font-size: .4em;
    margin: auto 0;
}

.label-text {
    font-weight: 510;
    text-align: left;
}

.orange {
    color: #FF5800;
    /* font-size: 9px; */
}

.btn-large {
    text-decoration: none;
    padding: 5px 15px;
    font-size: 16px;
    color: #ffffff;
    background-color: #FF5800;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: 1;
    margin-bottom: 2em;
}

@media (max-width: 600px) {
    .btn-large {
        font-size: 10px;
    }
}

.btn-enviar {
    margin-bottom: 0;
    font-size: 1.5em;
}

.btn-large:active {
    transform: scale(.98);
}

.btn-large:hover {
    cursor: pointer;
    color: aliceblue;
}

.img-header {
    align-content: center;
}

.img-footer {
    margin-top: 100%;
    width: 30%;
}

@media (max-width: 600px) {
    .img-footer {
        margin: .2em auto;
        width: 30%;
    }
}

[v-cloak] {
    display: none;
}