<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/ed-grid@3.0.0/src/css/ed-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" integrity="sha512-f8gN/IhfI+0E9Fc/LKtjVq4ywfhYAVeMGKsECzDUHcFJ5teVwvKTqizm+5a84FINhfrgdvjX8hEJbem2io1iTA==" crossorigin="anonymous" />
    <title>Zoetis</title>
</head>

<body>
    <div id="app" class="container s-center ed-grid s-grid-1 lg-grid-12" v-cloak>
        <div class="lg-cols-7 s-order-2 m-order-1">
            <div class="s-shadow-bottom s-bg-white hah">
                <div class="header s-center img-container">
                </div>
                <div class="body-card">
                    <div class="ed-grid s-grid-1 m-grid-2">
                        <input v-model="date" placeholder="Fecha DD/MM/AAAA" class="input-middle" type="text"
                            onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />
                        <input v-model="namecompany" placeholder="Nombre empresa..." class="input-middle" name="name"
                            id="name">
                    </div>
                    <div class="ed-grid">
                        <input v-model="name" placeholder="Nombres y apellidos" type="text" class="input-full"
                            name="userfullname" id="userfullname">
                        <input v-model="email"  required placeholder="Correo electrónico" type="text" class="input-full"
                            type="email" name="email" id="email">
                    </div>

                    <!-- //fila1 -->

                    <div class="ed-grid s-grid-3 s-left">
                        <div>
                            <span class="label-text">Aves</span>
                            <div class="ed-grid s-grid-1 " v-for="(item , index ) in grupo">
                                <span >Grupo {{ index+1 }}</span>
                                <input placeholder="Numero de aves" v-model="grupo[index].aves" class="input-three"  name="aves"
                                    id="aves">
                            </div>

                        </div>
                        <div>
                            <span class="label-text">Granja</span>

                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <input placeholder="Nombre de la granja" v-model="grupo[index].granja" class="input-three" name="granja" id="granja">
                            </div>

                        </div>
                        <div>
                            <span class="label-text">Edad</span>
                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <select v-model="grupo[index].edad" class="mb-2  custom-select" :class="['select'+index]">
                                    <option value="" selected disabled>Seleccione la edad</option>
                                    <option value="7">7</option>
                                    <option value="14">14</option>
                                    <option value="21">21</option>
                                    <option value="28">28</option>
                                    <option value="35">35</option>

                                </select>
                                <!-- <input type="text" id="test"> -->
                                <!-- <input v-model="edad" class="input-three" type="number" name="edad" id="edad"> -->
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="ed-grid s-grid-3 s-left">
                        <div>
                            <span class="label-text">Raza</span>
                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <select  v-model="grupo[index].raza" class="mb-2  custom-select" :class="['select'+index]">
                                    <option value="" selected disabled>Seleccione la raza</option>

                                    <option value="Ross">Ross</option>
                                    <option value="Cobb">Cobb</option>
                                </select>
                                <!-- <input type="text" id="test"> -->
                            </div>
                        </div>
                        <div>
                            <span class="label-text">Plan vacunal</span>
                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <select v-model="grupo[index].plan" class="mb-2 custom-select"  :class="['select'+index]">
                                    <option value="" selected disabled>Seleccione plan vacunal</option>

                                    <option value="Bursaplex">Bursaplex</option>
                                    <option value="Bursaplex + Bursine 2">Bursaplex + Bursine 2</option>
                                    <option value="Transmune">Transmune</option>
                                    <option value="Transmune + Bursine 3">Transmune + Bursine 3</option>
                                    <option value="Vaxxitec">Vaxxitec</option>
                                    <option value="Vaxxitec + 1 dosis en campo">Vaxxitec + 1 dosis en campo</option>
                                    <option value="Bursine 2+Bursine 3">Bursine 2+Bursine 3</option>
                                    <option value="Precise + Bursavac 3">Precise + Bursavac 3</option>
                                    <option value="BDABlend">BDABlend</option>
                                    <option value="BDAblend +1 dosis en campo">BDAblend +1 dosis en campo</option>
                                </select>
                                <!-- <input type="text" id="test"> -->

                            </div>

                        </div>
                        <div>
                            <span class="label-text">Cama</span>

                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <select v-model="grupo[index].cama" class="mb-2  custom-select" :class="['select'+index]">
                                    <option value="" selected disabled>Seleccione cama</option>
                                    <option value="Reciclada">Reciclada</option>
                                    <option value="Nueva">Nueva</option>
                                </select>
                                <!-- <input type="text" id="test"> -->

                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="ed-grid s-grid-3 s-left">
                        <div>
                            <span class="label-text">Bursometro</span>
                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <select v-model="grupo[index].bursometro" class=" mb-2 custom-select" :class="['select'+index]">
                                    <option value="" selected disabled>Seleccione bursometro</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>

                                </select>
                                <!-- <input type="text" id="test"> -->

                            </div>

                        </div>
                        <div>
                            <span class="label-text">Peso ave</span>
                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <input @blur="calcular()" v-model="grupo[index].pesoAve" placeholder="Ejemplo..  198"
                                    step="any" class="input-three" name="granja" id="granja">
                            </div>

                        </div>
                        <div>
                            <span class="label-text">Peso bolsa</span>
                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <input @blur="calcular()" v-model="grupo[index].pesoBolsa" step="any"
                                    placeholder="Ejemplo...  0.28" class=" input-three" name="edad" id="edad">
                            </div>

                        </div>
                    </div>
                    <br><br>
                    <div class="ed-grid s-grid-3 s-left">
                        <div>
                            <span class="label-text to-m">Pezo <brpaddin> bazo</span>
                            <span class="label-text from-m">Pezo bazo</span>

                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <input @blur="calcular()" v-model="grupo[index].pesoBazo"  step="any"
                                    placeholder="Ejemplo..  0.11" class="input-three" name="aves" id="aves">

                            </div>

                        </div>
                        <div>
                            <span class="label-text to-m orange">Relación <br> bolsa-bazo</span>
                            <span class="label-text from-m orange">Relación bolsa-bazo</span>
                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <input  v-model="grupo[index].BolsaBazo" step="any" class=" input-three"
                                    name="granja" id="granja" disabled>
                            </div>
                        </div>
                        <div>
                            <span class="label-text orange">Indice morfometrico bursal</span>
                            <div class="ed-grid s-grid-1" v-for="(item , index ) in grupo">
                                <span>Grupo {{ index+1 }}</span>
                                <input v-model="grupo[index].MorfoBursal" class=" input-three" step="any"
                                    name="edad" id="edad" disabled>
                            </div>
                        </div>
                    </div>



                    <div class="s-center">
                        <button @click="agregar()" class="btn btn-large  s-shadow-bottom s-bg-white">Agregar datos
                            nuevos <i class="fas fa-plus"></i></button>
                    </div>
                    <div class="s-center">
                        <!-- <input type="text" id="test"> -->

                        <button  v-if="loading"  class="btn btn-large btn-enviar s-shadow-bottom s-bg-white">Enviando...</button>
                        <button v-if="!loading" @click="Enviar()" type="submit" class="btn btn-large btn-enviar s-shadow-bottom s-bg-white">Enviar</button>
                    </div>

                </div>


            </div>
            <div class="s-center to-m">
                <img class="img-footer" src="http://arraytest.host/zoetis/assets/zoetisnaranja.png" alt="logo">
            </div>
        </div>
        <div class="lg-cols-5 s-order-1 m-order-2">
            <h1 class="title">Herramienta cálculo</h1>
            <hr class="hr-1">
            <p class="parrafo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam a omnis, ea dolore
                animi temporibus consequuntur neque asperiores possimus qui repellendus autem itaque nam error.
                Molestias dolores alias rem veniam?</p>
            <div class="s-center m-right from-m">
                <img class="img-footer" src="http://arraytest.host/zoetis/assets/zoetisnaranja.png" alt="logo">
            </div>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
    <script src="js/app.js"></script>



</body>

</html>